absl-py==2.1.0
aiobotocore==2.5.2
aiohttp==3.8.5
aiohttp-retry==2.8.3
aioitertools==0.11.0
aiosignal==1.3.1
altair==4.2.0
amqp==5.1.1
anyio==3.6.1
apeye==1.2.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.6.0
asn1crypto==1.5.1
asttokens==2.0.8
async-timeout==4.0.2
attrs==23.1.0
autobahn==23.6.2
Automat==22.10.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.11.2
billiard==4.1.0
bleach==6.0.0
blinker==1.6.2
blis==0.7.11
boto3==1.26.83
botocore==1.29.165
bottle==0.12.25
Brotli==1.1.0
bs4==0.0.1
cachetools==5.2.0
catalogue==2.0.10
celery==5.3.1
certifi==2022.9.24
cffi==1.15.1
channels==4.0.0
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cloudpathlib==0.16.0
cloudpickle==2.0.0
colorama==0.4.6
commonmark==0.9.1
comtypes==1.3.0
confection==0.1.4
constantly==15.1.0
contourpy==1.1.0
croniter==1.4.1
cryptography==41.0.2
cssselect==1.2.0
curated-tokenizers==0.0.9
curated-transformers==0.1.1
cv==1.0.0
cycler==0.11.0
cymem==2.0.8
daphne==4.0.0
DateTime==5.2
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
dj-rest-auth==3.0.0
Django==4.2.2
django-allauth==0.52.0
django-cors-headers==3.10.1
django-drf-filepond==0.4.1
django-filter==21.1
django-storages==1.13.2
djangorestframework==3.14.0
domdf-python-tools==3.5.0
duckdb==0.8.1
EasyProcess==1.1
en-core-web-trf @ https://huggingface.co/spacy/en_core_web_trf/resolve/main/en_core_web_trf-any-py3-none-any.whl#sha256=f72abb34bdf174876bd4267b29b2501677e605e0a251fdc56c163003182ed68b
entrypoint2==1.1
entrypoints==0.4
env==0.1.0
exceptiongroup==1.1.3
execnb==0.1.5
executing==1.1.0
fastapi==0.85.1
fastcore==1.5.29
fastjsonschema==2.17.1
filelock==3.12.0
Flask==2.3.3
Flask-Cors==4.0.0
fonttools==4.40.0
frozenlist==1.4.0
fsspec==2023.6.0
g4f==0.2.4.1
gcsfs==2023.6.0
gevent==23.7.0
gitdb==4.0.9
GitPython==3.1.29
google-api-core==2.11.1
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-cloud==0.34.0
google-cloud-core==2.3.3
google-cloud-storage==2.10.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.60.0
googlesearch-python==1.2.3
greenlet==2.0.2
gspread==5.10.0
gspread-dataframe==3.3.1
gspread-formatting==1.1.2
gspread-pandas==3.2.2
gTTS==2.5.1
gunicorn==20.1.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html2text==2020.1.16
html5lib==1.1
hypercorn==0.14.3
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.4
importlib-metadata==5.0.0
incremental==22.10.0
ipykernel==6.16.0
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.3
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
JarvisAI==4.8
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
json5==0.9.14
jsonschema==4.18.2
jsonschema-specifications==2023.6.1
jupyter-server==1.24.0
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
jupyterlab_server==2.23.0
kaggle==1.5.13
keras==2.13.1
kiwisolver==1.4.4
kombu==5.3.1
langcodes==3.3.0
lazyme==0.0.27
llvmlite==0.42.0
lxml==4.9.2
Markdown==3.4.1
markdown2==2.4.8
MarkupSafe==2.1.2
matplotlib==3.7.2
matplotlib-inline==0.1.6
mediapipe==0.8.11
mercury==2.3.7
mistune==3.0.1
more-itertools==10.2.0
MouseInfo==0.1.3
mpmath==1.3.0
mss==9.0.1
mtranslate==1.8
multidict==6.0.4
murmurhash==1.0.10
mypy==1.5.1
mypy-extensions==1.0.0
mysql==0.0.3
mysql-connector-python==8.0.32
mysqlclient==2.1.1
natsort==8.2.0
nbclient==0.7.4
nbconvert==7.16.1
nbformat==5.9.1
nest-asyncio==1.5.6
networkx==3.2.1
nltk==3.8.1
nodejs==0.1.1
numba==0.59.0
numpy==1.23.4
oauthlib==3.2.2
omdb==0.10.1
openai==0.27.9
openai-whisper==20231117
opencv-contrib-python==4.9.0.80
opencv-python==4.6.0.66
optional-django==0.1.0
oscrypto==1.3.0
outcome==1.2.0
packaging==21.3
panda==0.3.1
pandas==2.0.3
pandoc==2.3
pandocfilters==1.5.0
parsel==1.8.1
parso==0.8.3
pathlib_abc==0.1.1
pathy==0.11.0
pep8==1.7.1
pickle-mixin==1.0.2
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.5.1
playsound==1.3.0
plumbum==1.8.1
ply==3.11
preshed==3.0.9
priority==2.0.0
prometheus-client==0.17.1
prompt-toolkit==3.0.39
Protego==0.3.0
protobuf==3.20.3
psutil==5.9.2
pure-eval==0.2.2
pyarrow==10.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.14
PyAutoGUI==0.9.53
pycaw==20240210
pycountry==23.12.11
pycparser==2.21
pycryptodomex==3.18.0
pydantic==1.10.2
pydeck==0.8.0
PyDispatcher==2.0.7
pydub==0.25.1
pyee==8.2.2
pygame==2.1.2
PyGetWindow==0.0.9
Pygments==2.13.0
pyjokes==0.6.0
PyJWT==2.7.0
Pympler==1.0.1
PyMsgBox==1.0.9
pyOpenSSL==23.2.0
pyparsing==3.0.9
pyperclip==1.8.2
pypi-json==0.3.0
pypiwin32==223
pyppeteer==1.0.2
PyRect==0.2.0
pyrsistent==0.18.1
pyscreenshot==3.1
PyScreeze==0.1.28
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
python-slugify==8.0.1
python3-openid==3.2.0
pyttsx3==2.90
pytube==15.0.0
pytweening==1.0.4
pytz==2022.5
pytz-deprecation-shim==0.1.0.post0
pywhatkit==5.4
pywin32==304
pywinpty==2.0.10
PyYAML==6.0
pyzmq==24.0.1
queuelib==1.6.2
redis==5.0.0
referencing==0.29.1
regex==2022.10.31
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==1.3.1
rich==12.6.0
rpds-py==0.8.10
rsa==4.9
s3fs==2023.6.0
s3transfer==0.6.1
scikit-learn==1.3.0
scipy==1.9.2
Scrapy==2.10.0
secure-smtplib==0.1.1
selenium==4.18.1
semver==2.13.0
Send2Trash==1.8.2
service-identity==23.1.0
shortuuid==1.0.11
shutup==0.2.0
simpleaudio==1.0.4
six==1.16.0
smart-open==6.4.0
smmap==5.0.0
sniffio==1.3.0
snowflake-connector-python==3.1.0
snowflake-snowpark-python==1.5.1
sortedcontainers==2.4.0
sounddevice==0.4.6
soupsieve==2.4
spacy==3.7.4
spacy-curated-transformers==0.2.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.10.1
speedtest-cli==2.1.3
spotipy==2.23.0
sql-metadata==2.8.0
SQLAlchemy==1.4.27
sqlit==0.1.6
sqlparse==0.4.3
srsly==2.4.8
st-files-connection @ git+https://github.com/streamlit/files-connection@c65a9f0da856207086540baee3a36346bb39c0eb
stack-data==0.5.1
starlette==0.20.4
streamlit==1.26.0
streamlit-gsheets @ git+https://github.com/streamlit/gsheets-connection@01a419c707939a7ec0840ec19cfb7f9a60a55130
streamlit-nightly==1.26.1.dev20230901
streamlit-option-menu==0.3.2
style==1.1.0
sympy==1.12
tenacity==8.2.2
terminado==0.17.1
text-unidecode==1.3
thinc==8.2.3
threadpoolctl==3.1.0
tiktoken==0.6.0
tinycss2==1.2.1
tldextract==3.4.4
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.1
toolz==0.12.0
torch==2.2.1
tornado==6.2
tqdm==4.64.1
traitlets==5.4.0
trio==0.22.2
trio-websocket==0.10.3
twilio==8.13.0
Twisted==22.10.0
twisted-iocpsupport==1.0.3
txaio==23.1.1
typer==0.7.0
typing_extensions==4.9.0
tzdata==2023.3
tzlocal==4.2
update==0.0.1
urllib3==1.26.12
uvicorn==0.18.3
validators==0.20.0
vine==5.0.0
virtualenv==20.23.0
w3lib==2.1.2
wasabi==1.1.2
watchdog==2.1.9
wcwidth==0.2.5
weasel==0.3.4
webencodings==0.5.1
websocket-client==1.6.1
websockets==10.4
Werkzeug==2.3.7
whitenoise==6.5.0
widgetsnbextension==4.0.7
wikipedia==1.4.0
wordcloud==1.9.2
wrapt==1.15.0
wsproto==1.2.0
yarl==1.9.2
zipp==3.9.0
zope.event==5.0
zope.interface==6.0
